.msr-payment-container{
	background: #f1f1f1;
	border-radius: 5px;
	padding: 15px;
	font-family: 'Lato', serif;
}
.msr-payment-container.dark{
	background:#191919;
}

.msr-payment-container .header{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
	font-size: 24px;
	vertical-align: middle;
}
.msr-payment-container.dark .header{
	color: #e3e3e3;
}
.msr-payment-container .header img{
	display:inline-block;
	max-height: 30px;
	vertical-align: middle;
}
.msr-payment-container .footer{
	border-top: 1px solid #e5e5e5;
	padding-top: 5px;
	margin-top: 15px;
	font-size: 14px;
	text-align: right;
}
.msr-payment-container .footer a{
	color:black;
}
.msr-payment-container.dark .footer a{
	color: #e3e3e3;
}

.msr-payment-container .content .message{
	text-align: center;
}
.msr-payment-container .content .message.important{
	font-weight: bold;
}
.msr-payment-container .content .message.critical{	color:#DC143C;}
.msr-payment-container .content .message.info{	color:#4aa3df;}
.msr-payment-container .content .message.success{	color: #4fa73d;}

.msr-payment-container .content .message i{font-size:40px;	vertical-align: middle;}

.msr-payment-container .content .status {
	padding:15px 0;
}

.msr-payment-container .content .data-box{
	border:1px solid #d0d0d0;
	background: white;
	margin-bottom: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.msr-payment-container.dark .content .data-box{
	border-color: #484848;
	background: #6d6d6d;
	color:white;
}
.msr-payment-container .content .data-box label,
.msr-payment-container .content .data-box input,
.msr-payment-container .content .data-box .copy{
	display:inline-block;
	height:34px;
	background: white;
	vertical-align: top;
	line-height: 34px;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color:black;
}
.msr-payment-container.dark .content .data-box label,
.msr-payment-container.dark .content .data-box input,
.msr-payment-container.dark .content .data-box .copy {
	background: #6d6d6d;
	color:#e3e3e3;
}
.msr-payment-container .content .data-box label {
	border-right: 1px solid #d0d0d0;
	width: 100px;
	padding-left:5px;
	font-size:16px;
}
.msr-payment-container.dark .content .data-box label {
	border-color:#484848;
}
.msr-payment-container .content .data-box input{
	border-style:solid;
	border:none;
	width: calc(100% - 150px);
	padding:0;
	-webkit-appearance: none;
}
.msr-payment-container .content .data-box .copy{
	border-left:1px solid #d0d0d0;
	width: 40px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.msr-payment-container.dark .content .data-box .copy{
	border-color:#484848;
}
.msr-payment-container .content .data-box .copy i{
	vertical-align: middle;
}

.msr-payment-container .content .qr-code{
	text-align: center;
}
.msr-payment-container .content .qr-code img{
	display: inline-block;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
.msr-payment-container .rotating {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}
